.layout {
    margin: 30px auto;
    width: 1300px;
}

.sider {
    width: 256px;
}

.content {
    margin-left: 100px;
}

.indexImgDiv {
    margin: 20px 0;
    width: 550px;
    height: 183px;
}

.indexCarouselImg {
    display: inline;
    width: 420px;
    height: 183px;
    object-fit: cover;
}