.content {
    width: 1150px;
    margin: 20px auto 0;
    padding-bottom: 30px;
}

.div {
    width: 1100px;
    margin: 20px auto 50px;
}

.showDiv {
    width: 1100px;
    margin: 0 auto 20px;
}

.showTextDiv {
    width: 1100px;
    margin: 0 auto 20px;
    border: 1px solid #bfbfbf;
    padding: 0 20px;
}

.button {
    display: inline;
    float: right;
    margin-right: 30px;
}

.prizeCard {
    cursor: default;
    display: inline;
    float: left;
    width: 315px;
    height: 220px;
    margin: 20px 25px;
}

.prizeCardImg {
    width: 315px;
    height: 150px;
    object-fit: contain;
}

.paragraph {
    font-size: 18px;
}

.downloadButton {
    margin-bottom: 10px;
    float: right;
    margin-right: 30px;
}