.div {
    margin: 30px auto;
    width: 1100px;
}

.card {
    margin: 20px 0;
    width: 100%;
}

.cardImg {
    display: inline-block;
    width: 220px;
    height: 140px;
    object-fit: cover;
    float: left;
    margin-left: 20px;
    margin-right: 50px;
}

.pagination {
    float: right;
    margin-top: 20px;
    margin-right: 50px;
}

.spin {
    margin: 300px 0;
    text-align: center;
}