.indexImgDiv {
    margin: 20px 0;
    width: 550px;
    height: 183px;
}

.indexCarouselImg {
    display: inline;
    width: 420px;
    height: 183px;
    object-fit: cover;
}

.spin {
    margin: 300px 0;
    text-align: center;
}