.ant-row-rtl #components-layout-demo-top-side {
    float: right;
    margin: 16px 0 16px 24px;
}

.site-layout-background {
    background: #fff;
}

.logoImg {
    float: left;
    height: 100%;
}

.menu {
    margin-left: 330px;
    width: 800px;
}

.layout {
    min-height: 100%;
}

.footer {
    text-align: center;
    background-color: #000020;
    margin-top: 50px;
}

.paragraph {
    color: white;
}

.innerLayout {
    margin: 30px auto;
    width: 1100px;
}

.sider {
    width: 256px;
}

.content {
    margin-left: 100px;
}